//META{"name": "CollapsedDMs", "description": "Very nice dms, source code taken from https://github.com/CompletelyUnbelievable/ThemeResource/blob/master/HomeMenu/CollapsedDirectMessages.css","author": "freeunicorn", "version": "1.0"}*//{} 
.privateChannels-1nO12o .scroller-2FKFPG {"
	text-align: center;
}

.privateChannels-1nO12o .channel-2QD9_O a[href*="/channels/@me/"] {
	padding: 8px 8px 8px 8px;
	margin: 0;
	width: 100%;
	height: 100%;
}

.privateChannels-1nO12o .channel-2QD9_O a[href*="/channels/@me/"] .name-2WpE7M {
	display: none;
}

.privateChannels-1nO12o .channel-2QD9_O[style="height: 42px; opacity: 1;"] {
	display: inline-block;
	margin: 0px 0px 0px 2px;
	width: 56px /*Essentially calc((100% / 4) - 2px);*/
}

.privateChannels-1nO12o .channel-2QD9_O[style="height: 42px; opacity: 1;"] .wrapper-2F3Zv8 {
	margin: 0;
}

.privateChannels-1nO12o .channel-2QD9_O[style="height: 42px; opacity: 1;"]:hover .close-3hZ5Ni {
	margin-left: 4px;
}

.privateChannels-1nO12o .channel-2QD9_O[style="height: 42px; opacity: 1;"] .wrapper-2F3Zv8 > .avatar-small:hover::before {
	content: var(--CDMUsername, "Error");
	margin: 2.5px auto auto 35px;
	background: #000;
	font-size: 12px;
	padding: 4px 4px 4px 4px;
	border-radius: 10px;
	transition: all 0.5s ease;
	position: fixed;
	z-index: 999;
	white-space: nowrap;
}

.privateChannels-1nO12o .channel-2QD9_O[style="height: 42px; opacity: 1;"] .wrapper-2F3Zv8 > .avatar-small[user] {
	--CDMUsername: attr(user);
}

.privateChannels-1nO12o .channel-2QD9_O[style="height: 42px; opacity: 1;"] .wrapper-2F3Zv8 > .avatar-small[channel] {
	--CDMUsername: attr(channel);
}

/*for temporarily hiding user avatars and for hovering to show name.*/
.privateChannels-1nO12o .channel-2QD9_O[style="height: 42px; opacity: 1;"] .wrapper-2F3Zv8 > .avatar-small {
	transition: all 0.5s ease;
	//background: #fff;
	//background-image: none !important;
}
